/* todo: delete file if not needed */
.generalSection{
  display: flex;
  overflow: hidden;
}
.swiper {
  margin-left: 5%;
  width: 40%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: fill;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  width: 100%;
}

.grid-template .context h1{
  font-size: 4vw;
}
.grid-template .contextContent p{
  font-size: 1.5vw;
}
.grid-template .redirectButton button{
  font-size: .8vw;
}
#firstHalf{
display: grid;
align-items: center;
justify-content: center;
}

.checkRight{
  margin-left: 57%;
  margin-top: -12vw;
  position: absolute;
}
.checkLeft{
  position: absolute;
  margin-top: -12vw;
}
