/* todo: delete file if not needed */
.overallSection{
    padding-bottom: 5vw;
    padding-top: 5vw;
}
.gallery-template{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-template img {
    max-width: 16vmin;
  min-width: 20vmax;
  border-radius: 2vw;
  padding: .5vw;
}