/* todo: delete file if not needed */
/* todo: delete file if not needed */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=SpaceGrotesk&display=swap');



.generalFooterSection{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logoFooterImage{
    width: 18vw;
    height: 18vw;
}
.iconSection{
    display: flex;
}
.iconSection .column-template{
    padding-right: 1vw;
}
.sectionCopyright{
    background-color: #f5f7fa;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}